* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  border: none;
  border-radius: 10px;
  transition: 200ms;
}

window#waybar {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#clock, #pulseaudio, #battery, #tray {
  background-color: #313244;
  padding: 0 10px;
  margin: 5px;
}

#workspaces button.active {
  background-color: #a6e3a1;
  color: #1e1e2e;
}
